beagle.19Apbeagle.19Apr22.7c0.jar
impute_v2.3.2_x86_64_static.tgz
data/ALL.chr1.phase3_shapeit2_mvncall_integrated_v4.20130502.genotypes.breakmulti.2504Samples.impute.hap
data/1000*
data/mgymrek_genome_fixcase.vcf.gz